/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

.pageContainer {
    padding: 20px;
}

img {
	width: 100%;
	height: auto;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FADER
\*----------------------------------------------------------------------------------------------------------------*/
.fader {
    max-width: 980px;
    margin: 0 auto;
    
    position: relative;
}

.fader .faderItem {
    position: absolute;
    top: 0;
    left: 0;
}

.fader .faderItem.selected {
    position: relative;
}

.fader .faderControls {
    display: none;
}

.fader ul {
    list-style: none;
    
    text-align: center;
}

.fader li {
    margin-right: 10px;
    display: inline-block;
}

.fader a {
    color: #333;
    text-decoration: none;
}

.fader a:hover,
.fader a.selected {
    color: #73BADE;
}